* {
    margin: 0;
    padding: 0;
}

body {
    /* margin: 30px 60px; */
    color:rgb(90, 87, 87);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    text-decoration: none;
    text-align: right;
    padding-right:10px;
    margin: 10px 50px 0 0;
}

header ul li {
    display: inline;
    font-weight: bold;
    padding-right: 20px;
}

.image img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border-bottom: 15px solid #eaf0f5;
}

.content {
    margin: 80px;
    display: flex;
    justify-content: space-around;
    font-size: large;
}

.content p {
    margin-top: 20px;
}

.text {
    width: 552px;
}

.button {
    margin-top: 30px;
    background-color: #FF6868;
    border: none;
    width: 235px;
    height: 50px;
    color: white;
    font-size: large;
}

.recentPosts {
    background-color: #eaf0f5;
}

.head {
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-style: bold;
    padding: 30px 175px 0 175px;
}

.head a {
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: space-around;
    margin: 0 156px;
}

.innerBox {
    background-color: white;
    padding: 30px;
    margin: 20px 20px;
    font-size: large;
}

.year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 152px;
    margin-bottom: 20px;
}

#year {
    color: white;
    background-color: #565252;
    border-radius: 15px;
    border: none;
    width: 51px;
    height: 17px;
    margin-right: 20px;
    align-items: center;
}

.year p {
    color: #565252;
    font-size: 15px;
}

.work {
    display: flex;
    border-bottom: 1px solid rgb(185, 179, 179);
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}

.icons ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 195px;
    margin-bottom: 15px;
}

.icons ul li {
    list-style-type: none;
    padding-left: 20px;
}

.icons ul li i {
    font-size: 38px;
}

.icons i {
    size: large;
}

.date {
    display: flex;
    margin: 30px 0px;
    font-size: 21px;
}

.featuredWorks {
    margin: 45px 190px;
}

.description {
    margin: 0 0 60px 20px;
}

.images {
    margin-bottom: 10px;
}

.descriptionHeading {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.descriptionText {
    width: 700px;
    font-size: 20px;
}